apiVersion: appprotect.f5.com/v1beta1
kind: APPolicy
metadata:
  name: default-security-policy
spec:
  policy:
    {{ lookup('url', 'https://raw.githubusercontent.com/danvarelajar/secops/main/default-security-policy', split_lines=False) }}
